:root {
    --accent: rgb(44, 155, 246);
    --foreground: royalblue;
    --background: deepskyblue;
}

body {
    color: white;
    background-color: var(--background);
    font-family: Montserrat, Helvetica, Arial, sans-serif;
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: content-box;
}

#display {
    display: grid;
    grid: 1.5fr 1fr / 1.2fr 1fr;
    height: 100vh;
}

#today {
    background-color: var(--accent);
    margin: 10px;
    border-radius: 20px;
    text-align: left;
    /* display: grid; */
    /* grid: 240px 20px 20px / 1fr 1fr; */
    padding: 110px 0 0 40px;
}

#temperature {
    font-size: 120px;
}

#weather {
    font-size: 50px;
}

#city {
    font-size: 24px;
    margin-top: 6px;
}

#today #icon {
    width: 340px;
    position: absolute;
    left: 440px;
    top: 60px;
}

#details {
    display: grid;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
}

#details > div {
    background-color: var(--foreground);
    border-radius: 20px;
}

#forecast {
    display: flex;
    justify-content: space-between;
    grid-column: span 2;
    gap: 20px;
    padding: 10px;
}

#forecast > div {
    background-color: var(--foreground);
    height: min(18vw, 200px);
    width: min(18vw, 200px);
    padding: 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#forecast > div > div:nth-child(1) {
    font-size: 20px;
}

#forecast > div > div {
    font-size: 14px;
}

.temperature {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

input {
    margin: 10px;
    width: 240px;
    height: 34px;
    border-radius: 16px;
    border: none;
    background-color: rgb(225, 225, 250);
    padding: 5px 6px 6px 12px;
    font-size: 14px;
}

#submit {
    height: 32px;
    margin-top: 8px;
    aspect-ratio: 1 / 1;
    border: none;
    border-radius: 100%;
    color: white;
    background-color: royalblue;
    font-size: 20px;
    padding: 2px 0 0 2px;
    cursor: pointer;
}

img {
    width: 100px;
}

#details img {
    width: 60px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  cursor: pointer;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--accent);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--foreground);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--accent);
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.labels {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    bottom: 14px;
    font-size: 12px;
}

input:checked + .text::before {
    color: red;
}

header {
    display: flex;
    align-items: center;
    gap: 10px
}

#details > div {
    font-size: 22px;
    display: flex;
    align-items: center;
    padding: 0 30px 0 10px;
    gap: 10px;
}

#details > div > div:nth-of-type(1) {
    flex: 1;
    text-align: left;
}